@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background: url('https://source.unsplash.com/collection/391148/1920x1080') no-repeat #000000;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.background-banner {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

/* .container::before {
  content: "";
  display: block;
  height: 25vh;
} */

/* .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
} */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 34px 0;
}

.container-inner {
  width: 100%;
}

.search {
  width: 40%;
  margin: 0 auto;
  position: relative;
  border-radius: 8px;
  background: #ffffff;
  border: 2px solid #000000;
}

.search.straight {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.search .search-bar {
  display: flex;
}

.search .search-bar .pre-btn {
  height: 52px;
  width: 52px;
  border: 1px solid transparent;
  background: transparent;
  font-size: 20px;
  padding: 13px;
  text-align: center;
}

.search .search-bar .input-text {
  width: 100%;
  min-height: 52px;
  border: 1px solid transparent;
  background: transparent;
  font-family: 'Poppins', sans-serif;
  font-size: 1.05em;
  padding-right: 15px;
}

.search .search-bar .input-text.padding {
  padding-left: 15px;
}

.search .search-bar .input-text:focus {
  outline: none;
}

.search .search-bar .post-btn {
  height: 52px;
  width: 52px;
  border: 1px solid transparent;
  background: transparent;
  font-size: 20px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
}

.search .result-popup {
  position: absolute;
  z-index: 9;
  width: calc(100% + 4px);
  max-height: 300px;
  overflow: auto;
  background: #ffffff;
  margin-left: -2px;
  border: 2px solid #000000;
  border-top: none;
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  cursor: pointer;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15);
  display: none;
  scroll-behavior: smooth;
}

.search .result-popup.show {
  animation: result-popup-anim cubic-bezier(0, 1, 0, 1) 1s;
}

.search .result-popup .result-list:hover {
  background: #eeeeee;
}

.search .result-popup .result-list:active {
  background: #cccccc;
}

.search .result-popup .result-list {
  padding: 10px 10px 10px 53px;
  border-top: 1px solid #eeeeee;
  display: flex;
}

.search .result-popup .result-list.selected {
  background: #eeeeee;
}

.main-content {
  margin-top: 62px;
  position: relative;
  width: 80%;
  margin: 62px auto;
}

.section-title {
  margin-bottom: 24px;
  color: #ffffff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.horizontal-scroller {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 24px;
  scroll-snap-type: x mandatory;
  scrollbar-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  scrollbar-width: thin;
  scroll-behavior: smooth;
  gap: 24px;
  animation: weather-card-anim cubic-bezier(0, 1, 0, 1) 1.5s;
  transition: 0.15s;
  transition-delay: 1s;
  transition-property: scrollbar-color;
}

.horizontal-scroller::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background: rgba(255, 255, 255, 0);
}

.horizontal-scroller::-webkit-scrollbar-thumb {
  background: #aaaaaa;
}

.horizontal-scroller:hover {
  transition: 0.15s;
  scrollbar-color: #aaaaaa rgba(255, 255, 255, 0.15);
}

.horizontal-scroller:hover::-webkit-scrollbar {
  background: rgba(255, 255, 255, 0.15)
}

.hcontainer {
  background: #ffffff;
  border-radius: 8px;
  display: none;
  padding: 34px;
  text-align: left;
  margin-top: 34px;
  position: relative;
}

.hcontainer.show > div {
  animation: info-card-anim cubic-bezier(0, 1, 0, 1) 1s;
}

.info-card-inner {
  grid-template-columns: repeat(3, 1fr);
}

.hourly-details {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.mini-card {
  padding: 14px 18px;
  border: 1px solid #f0f0f0;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 200px;
  height: 80px;
  background: #ffffff;
}

.mini-card.twice-width {
  width: 300px;
}

.weather-card:first-child {
  scroll-snap-align: start;
}

.weather-card:last-child {
  scroll-snap-align: end;
}

.weather-card {
  background: #ffffff;
  padding: 16px;
  border-radius: 8px;
  scroll-snap-align: center;
  width: 215px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 215px;
  cursor: pointer;
  transition: 0.15s;
}

.weather-card:active {
  background: #eeeeee;
}

.shadow-separator {
  display: inline-block;
  width: 4px;
}

.weather-icon {
  /* Add position by 150px */
  background: url('./assets/weather.png') no-repeat;
  background-size: cover;
  background-position: 0px 0px;
  width: 150px;
  height: 150px;
}

.weather-icon.small {
  /* Add position by 31px */
  width: 31px;
  height: 31px;
  background-position: 0px 0px;
  background-size: cover;
}

.weather-icon.big {
  /* Add position by 200px */
  width: 200px;
  height: 200px;
  background-position: 0px 0px;
  background-size: cover;
}

.weather-icon.details-card {
  /* Add position by 80px */
  width: 80px;
  height: 80px;
}

.weather-icon.inline {
  display: inline-block;
}

.weather-icon.small.inline {
  display: inline-block;
  position: relative;
  top: 8px;
}

.weather-icon.inline.wind-dir {
  top: 10px;
  border-radius: 50%;
}

/* ICON FOR WEATHER CARD INFO */
.weather-icon.details-card.temp {
  background-position: -480px 0px;
}

.weather-icon.details-card.humid {
  background-position: -560px 0px;
}

/* ICON BIG */
.weather-icon.big.hujan-sedang {
  background-position: -200px 0;
}

.weather-icon.big.hujan-ringan, .weather-icon.big.hujan-lokal {
  background-position: -1000px 0;
}

.weather-icon.big.cerah-berawan {
  background-position: -800px 0;
}

.weather-icon.big.cerah {
  background-position: -400px 0;
}

.weather-icon.big.hujan-lebat, .weather-icon.big.hujan-petir {
  background-position: -600px 0;
}

/* ICON SMALL INLINE */
.weather-icon.temp {
  background-position: -186px 0px;
}

.weather-icon.humid {
  background-position: -217px 0px;
}

.weather-icon.wind-dir {
  background-position: -248px 0px;
}

/* CLOUD ICON DEFAULT SIZE */
.weather-icon.hujan-sedang {
  background-position: -150px 0;
}

.weather-icon.hujan-ringan, .weather-icon.hujan-lokal {
  background-position: -750px 0;
}

.weather-icon.cerah-berawan {
  background-position: -600px 0;
}

.weather-icon.cerah {
  background-position: -300px 0;
}

.weather-icon.hujan-lebat, .weather-icon.hujan-petir {
  background-position: -450px 0;
}

/* WIND DIRECTION ICON */
.wind-dir.NNE {
  transform: rotate(22.5deg);
  -webkit-transform: rotate(22.5deg);
  -o-transform: rotate(22.5deg);
  -moz-transform: rotate(22.5deg);
  -ms-transform: rotate(22.5deg);
}

.wind-dir.NE {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.wind-dir.ENE {
  transform: rotate(67.5deg);
  -webkit-transform: rotate(67.5deg);
  -o-transform: rotate(67.5deg);
  -moz-transform: rotate(67.5deg);
  -ms-transform: rotate(67.5deg);
}

.wind-dir.E {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

.wind-dir.ESE {
  transform: rotate(112.5deg);
  -webkit-transform: rotate(112.5deg);
  -o-transform: rotate(112.5deg);
  -moz-transform: rotate(112.5deg);
  -ms-transform: rotate(112.5deg);
}

.wind-dir.SE {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
}

.wind-dir.SSE {
  transform: rotate(157.5deg);
  -webkit-transform: rotate(157.5deg);
  -o-transform: rotate(157.5deg);
  -moz-transform: rotate(157.5deg);
  -ms-transform: rotate(157.5deg);
}

.wind-dir.S {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

.wind-dir.SSW {
  transform: rotate(202.5deg);
  -webkit-transform: rotate(202.5deg);
  -o-transform: rotate(202.5deg);
  -moz-transform: rotate(202.5deg);
  -ms-transform: rotate(202.5deg);
}

.wind-dir.SW {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
}

.wind-dir.WSW {
  transform: rotate(247.5deg);
  -webkit-transform: rotate(247.5deg);
  -o-transform: rotate(247.5deg);
  -moz-transform: rotate(247.5deg);
  -ms-transform: rotate(247.5deg);
}

.wind-dir.W {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
}

.wind-dir.WNW {
  transform: rotate(292.5deg);
  -webkit-transform: rotate(292.5deg);
  -o-transform: rotate(292.5deg);
  -moz-transform: rotate(292.5deg);
  -ms-transform: rotate(292.5deg);
}

.wind-dir.NW {
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
}

.wind-dir.NNW {
  transform: rotate(337.5deg);
  -webkit-transform: rotate(337.5deg);
  -o-transform: rotate(337.5deg);
  -moz-transform: rotate(337.5deg);
  -ms-transform: rotate(337.5deg);
}

/* END OF WIND DIRECTION */

.footer {
  position: relative;
  color: #cccccc;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 32px;
  margin-bottom: 10px;
}

.footer a {
  color: #00d9ff;
}

/* Responsive */
@media screen and (max-width: 480px) {
  .weather-card:active {
    transform: scale(0.97);
    transition: 0.05s;
  }
}

@media screen and (max-width: 980px) {
  .search {
    width: 80%;
  }

  .info-card-inner, .info-card-inner2 {
    display: block !important;
  }

  .hourly-details.grid {
    grid-template-columns: repeat(1, 1fr);
    width: 100% !important;
    grid-gap: 0;
    gap: 0;
  }

  .hourly-details .mini-card.floated {
    box-shadow: unset;
    border: none;
    padding: 0;
  }

  .daily-details .mini-card.mini-card.twice-width {
    width: 123%;
  }

  .line-horizontal {
    width: 15% !important;
  }

  .subsection-title {
    padding: 34px 0 16px 0;
  }

  .two {
    margin-top: 34px;
  }
  
  /* .container {
    padding: 30px 0;
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
  } */
}

@media screen and (min-width: 981px) and (max-width: 1279px) {
  .info-card-inner {
    display: block !important;
  }
}

/* Animation list */
@keyframes weather-card-anim {
  0% {
    opacity: 0;
    margin-left: 100px;
    scrollbar-color: #aaaaaa rgba(255, 255, 255, 0.15);
  }
  90% {
    opacity: 1;
    margin-left: 0;
    scrollbar-color: #aaaaaa rgba(255, 255, 255, 0.15);
  }
  100% {
    scrollbar-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  }
}

@keyframes result-popup-anim {
  from {
    max-height: 200px;
  }
  to {
    max-height: 300px;
  }
}

@keyframes info-card-anim {
  from {
    opacity: 0;
    margin-left: 100px;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}

/* Misc. */
.show, .search .result-popup.show {
  display: block;
}

.subsection-title {
  padding: 0 0 8px 0;
}

.flexed {
  display: flex;
}

.grid { 
  display: grid;
  width: max-content;
}

.loose-gap {
  gap: 22px;
}

.normal-gap {
  grid-gap: 28px;
}

.vcenter {
  align-items: center;
}

.hcenter {
  justify-content: center;
}

.no-padding {
  padding: 0 0;
}

.close-btn {
  cursor: pointer;
  text-decoration: underline;
  color: #0898bc;
}

.line-horizontal {
  display: inline-block;
  height: 1px;
  width: 40%;
  margin: 0 10px;
  background: #cccccc;
}